body {
  font-family: "Roboto", sans-serif;
}

.head {
  height: 100px;
  width: 100;
  background-image: url("/img/pattern.png");
  background-color: rgb(14, 150, 241);
  background-position: bottom;
  position: relative;
}

.head img {
  position: absolute;
  width: 150px;
  margin: 50px;
}

.conteiner {
  width: 70%;
  margin: 0px auto;
}

.text {
  color: gray;
}

.evidence {
  background-color: yellow;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.th {
  color: white;
  background-color: rgb(14, 150, 241);
}

td,
th {
  width: 33%;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: aqua;
}

.interest {
  color: gray;
}

.imgfoot {
  position: relative;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  color: white;
}
